@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;500;700&family=Roboto:wght@300;400;500;700&display=swap");

body {
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #d81717;
  /* background-color:#FFFFFF; */
  width: 100%;
  height: 54px;
  margin: 0 auto;
  border-bottom: 1px #dbdbdb solid;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  background-color: #d8d817;
  width: 935px;
  height: 54px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .tag-instagram {
  background-color: #dbdbdb;
  width: 215px;
  height: 29px;

  display: flex;
  justify-content: left;
  align-items: center;
}

.header .research-field {
  background-color: #dbdbdb;
  width: 215px;
  height: 29px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header .options-icons {
  background-color: #dbdbdb;
  width: 215px;
  height: 29px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag-instagram ion-icon {
  font-size: 30px;
}

.tag-instagram .border {
  height: 22px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px #d91010 solid;
}

.tag-instagram img {
  width: 103px;
  height: 29px;
}

.research-field input {
  width: 215px;
  height: 28px;
  font-size: 12px;
  font-weight: 400px;
  border-radius: 3px;
  color: #979797;
  padding-left: 20px;
  text-align: center;
  border: 1px #dbdbdb solid;
}

.options-icons {
  font-size: 30px;
}

.main-content {
  background-color: greenyellow;
  /* background-color: #E5E5E5; */
  width: 100%;
}

.main-content-container {
  background-color: #719ea3;
  width: 935px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main-content .feed {
  background-color: #d81717;
  width: 614px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.stories-menu {
  background-color: rgb(246, 143, 8);
  width: 100%;
  height: 118px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-story {
  width: 90px;
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container-story div {
  background-color: rgba(234, 55, 55, 0.729);
  width: 65px;
  height: 65px;
  border-radius: 33px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.stories-menu img {
  width: 56px;
  height: 56px;
  border-radius: 33px;
  border: 2px #ffffff solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stories-menu p {
  width: 58px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.news-feed {
  background-color: palevioletred;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.post {
  background-color: blue;
  width: 100%;
  /* height: 749px; */
  margin-bottom: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-post {
  background-color: #86f380;
  width: 614px;
  height: 75px;

  display: flex;
  align-items: center;
}

.top-post a {
  text-decoration: none;
}

.top-post div {
  display: flex;
  justify-content: left;
  align-items: center;
}

.top-post img:nth-child(1) {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-left: 10px;
}

.user-name {
  color: #262626;
  width: 109px;
  height: 21px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  margin-left: 10px;
  margin-top: 5px;
}

.spots {
  width: 3px;
  color: #262626;
  margin-left: 430px;
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spots:hover {
  color: rgb(101, 101, 101);
  cursor: pointer;
}

.post img {
  width: 100%;
  /* height: 100%; */
}

.end-post {
  background-color: #86f380;
  width: 614px;
  height: 80px;
}

.end-post ion-icon {
  font-size: 18px;
  border: 1.38px;
  color: #000000;
  margin-top: 15px;
  margin-left: 10px;
}

ion-icon:hover {
  color: rgb(101, 101, 101);
  cursor: pointer;
}

.end-post div {
  display: flex;
  justify-content: left;
  align-items: center;
}

.end-post img {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin: 8px 5px 10px 10px;
}

.end-post p {
  height: 21px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.end-post a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.end-post ion-icon:nth-child(4) {
  margin-left: 490px;
}

.side-bar {
  background-color: aqua;
  width: 480px;
  /* height: 400px; */
  margin-left: 28px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.side-bar-container {
  background-color: rgb(45, 30, 30);
  width: 293px;
  /* height: 350px; */
}

.container-1 {
  background-color: rgb(242, 242, 99);
  height: 60px;
  display: flex;
  /* justify-content: left;
  align-items: center; */
}

.side-bar-container img {
  background-color: #d81717;
  width: 56px;
  height: 56px;
  border-radius: 33px;
  margin-right: 5px;
}

.paragraphs {
  background-color: green;
  width: 182px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.paragraphs p:nth-child(1) {
  width: 182px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-top: 5px;
}

.paragraphs p:nth-child(2) {
  width: 182px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.paragraphs-second-session {
  background-color: #dbdbdb;
  width: 100%;
  height: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paragraphs-second-session p:nth-child(1) {
  background-color: #d81717;
  width: 117px;
  height: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #8e8e8e;

  display: flex;
  justify-content: left;
  align-items: center;
}

.paragraphs-second-session p:nth-child(2) {
  background-color: #b1d817;
  width: 55px;
  height: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #262626;

  display: flex;
  justify-content: right;
  align-items: center;
}

.third-session {
  background-color: rgb(67, 53, 254);
  width: 293px;
  /* height:50px; */

  display: flex;
  justify-content: left;
  align-items: center;
}

.img-1 {
  width: 32px;
  background-color: #a36a6a;

  display: flex;
  justify-content: left;
  align-items: center;
}

.img-1 img {
  width: 32px;
  height: 32px;
  border-radius: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.third-session div:nth-child(2) {
  background-color: #dbdbdb;
  height: 32px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p-1 {
  background-color: #d81717;
  width: 126px;
  height: 14px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #262626;
  text-decoration: none;
}

.p-2 {
  background-color: blue;
  width: 143px;
  height: 11px;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #8e8e8e;
  text-decoration: none;
}

.third-session div:nth-child(3) {
  background-color: #ffffff;
  height: 32px;
  margin-left: 77px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.third-session p {
  width: 36px;
  height: 11px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #8e8e8e;
}
